# Introduction

The first step in most data analytics projects is reading the data file. In this exercise, you'll create Series and DataFrame objects, both by hand and by reading data files.

Run the code cell below to load libraries you will need (including code to check your answers).

In [1]:
import pandas as pd

# Exercises

## 1.

In the cell below, create a DataFrame `fruits` that looks like this:

![](https://i.imgur.com/Ax3pp2A.png)

In [2]:
# dictionary를 이용해 dataframe 생성
fruits = pd.DataFrame({'Apples' : [30],
                       'Bananas' : [21]})
fruits

   Apples  Bananas
0      30       21

## 2.

Create a dataframe `fruit_sales` that matches the diagram below:

![](https://i.imgur.com/CHPn7ZF.png)

In [3]:
fruits_sales = pd.DataFrame({'Apples' : [35, 41],'Bananas' : [21, 34]},index = ['2017 Sales', '2018 Sales'])
fruits_sales

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

## 3.

Create a variable `ingredients` with a Series that looks like:

```
Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object
```

In [4]:
# pd.Series를 이용해 series 생성
ingredients = pd.Series(['4 cups', '1 cup', '2 large', '1 can'], index = ['Flour', 'Milk', 'Eggs', 'Spam'], name = 'Dinner')
ingredients

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

## 4.

Read the following csv dataset of wine reviews into a DataFrame called `reviews` by properly modifying the code below

![](https://i.imgur.com/74RCZtU.png)

In [5]:
# drive mount
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
# wine review data불러오기
reviews = pd.read_csv("/content/drive/MyDrive/Class/2021/2021_2/programming/Lecture_Code/Pandas/winemag-data-130k-v2.csv/winemag-data-130k-v2.csv", index_col=0, header = 0)
reviews

         country  ...                                    winery
0          Italy  ...                                   Nicosia
1       Portugal  ...                       Quinta dos Avidagos
2             US  ...                                 Rainstorm
3             US  ...                                St. Julian
4             US  ...                              Sweet Cheeks
...          ...  ...                                       ...
129966   Germany  ...  Dr. H. Thanisch (Erben Müller-Burggraef)
129967        US  ...                                  Citation
129968    France  ...                           Domaine Gresser
129969    France  ...                      Domaine Marcel Deiss
129970    France  ...                          Domaine Schoffit

[129971 rows x 13 columns]

In the above, remove the rows with not available data and save the data into "reviews"

In [7]:
# nan 값을 가진 행들 제거해주기
reviews = reviews.dropna(axis=0)

In [8]:
# reset_index를 이용해서 index를 재정렬해주기
reviews = reviews.reset_index(drop=True)
reviews

      country  ...                 winery
0          US  ...           Sweet Cheeks
1          US  ...     Kirkland Signature
2          US  ...                Bianchi
3          US  ...    Castello di Amorosa
4          US  ...                  Erath
...       ...  ...                    ...
22382      US  ...  Nicholas Cole Cellars
22383      US  ...              Reininger
22384      US  ...              Birichino
22385      US  ...          Flora Springs
22386      US  ...                 Hendry

[22387 rows x 13 columns]

## 5.

Run the cell below to create and display a DataFrame called `animals`:

In [9]:
animals = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]}, index=['Year 1', 'Year 2'])
animals

        Cows  Goats
Year 1    12     22
Year 2    20     19

In the cell below, write code to save this DataFrame to disk as a csv file with the name `cows_and_goats.csv`, and check it with EXCEL.

In [10]:
# Your code goes here

animals.to_csv('/content/drive/MyDrive/Class/2021/2021_2/programming/Lecture_Code/Pandas/cows_and_goats.csv')

생성된 파일을 excel을 이용해 확인한 결과

![image.png]()

# From now on, we will use "reviews" data.

## 6.

Select the `description` column from `reviews` and assign the result to the variable `desc`.

Follow-up question: what type of object is `desc`? If you're not sure, you can check by calling Python's `type` function: `type(desc)`.

In [11]:
# type function을 이용해 type 확인
desc = reviews['description']
type(desc)

pandas.core.series.Series

so, the type of desc is Series

## 7.

Select the first value from the description column of `reviews`, assigning it to variable `first_description`.

In [12]:
# column을 선택후 첫번째 원소를 [0]을 이용해 select해줌
first_description = reviews['description'][0]
first_description

"Much like the regular bottling from 2012, this comes across as rather rough and tannic, with rustic, earthy, herbal characteristics. Nonetheless, if you think of it as a pleasantly unfussy country wine, it's a good companion to a hearty winter stew."

## 8. 

Select the first row of data (the first record) from `reviews`, assigning it to the variable `first_row`.

In [13]:
# iloc을 이용해 first low를 select
first_row = reviews.iloc[0]
first_row

country                                                                 US
description              Much like the regular bottling from 2012, this...
designation                             Vintner's Reserve Wild Child Block
points                                                                  87
price                                                                   65
province                                                            Oregon
region_1                                                 Willamette Valley
region_2                                                 Willamette Valley
taster_name                                                   Paul Gregutt
taster_twitter_handle                                          @paulgwine
title                    Sweet Cheeks 2012 Vintner's Reserve Wild Child...
variety                                                         Pinot Noir
winery                                                        Sweet Cheeks
Name: 0, dtype: object

## 9.

Select the first 10 values from the `description` column in `reviews`, assigning the result to variable `first_descriptions`.

Hint: format your output as a pandas Series.

In [14]:
# iloc을 이용해 slicing해서 10개의 value를 select
first_descriptions = reviews.description.iloc[0:10]
first_descriptions

0    Much like the regular bottling from 2012, this...
1    Soft, supple plum envelopes an oaky structure ...
2    This wine from the Geneseo district offers aro...
3    Oak and earth intermingle around robust aromas...
4    As with many of the Erath 2010 vineyard design...
5    Syrupy and dense, this wine is jammy in plum a...
6    The aromas are brooding, with notes of barrel ...
7    There are intriguing touches to the nose of th...
8    A blend of Merlot and Cabernet Franc, this win...
9    Big oak defines this robustly dense and extrac...
Name: description, dtype: object

## 10.

Select the records with index labels `4`, `25`, and `35`, assigning the result to the variable `sample_reviews`.

In other words, generate the something like following DataFrame:

![](https://i.imgur.com/sHZvI1O.png)

In [15]:
# iloc을 이용해 원하는 특정 index 선택
sample_reviews = reviews.iloc[[4,25,35],]
sample_reviews

   country  ...            winery
4       US  ...             Erath
25      US  ...        Testarossa
35      US  ...  Dutton-Goldfield

[3 rows x 13 columns]

## 11.

Create a variable `df` containing the `country`, `province`, `region_1`, and `region_2` columns of the records with the index labels `4`, `25`, and `35`. In other words, generate something like the following DataFrame:

![](https://i.imgur.com/FUCGiKP.png)

In [16]:
# loc을 이용해 특정 행과 열 선택
df = reviews.loc[[4,25,35], ['country', 'province', 'region_1', 'region_2']]
df

   country    province               region_1           region_2
4       US      Oregon            McMinnville  Willamette Valley
25      US  California  Santa Lucia Highlands      Central Coast
35      US  California   Russian River Valley             Sonoma

## 12.

Create a variable `df` containing the `country` and `variety` columns of the first 100 records. 

Hint: you may use `loc` or `iloc`. When working on the answer this question and the several of the ones that follow, keep the following "gotcha" described in the tutorial:

> `iloc` uses the Python stdlib indexing scheme, where the first element of the range is included and the last one excluded. 
`loc`, meanwhile, indexes inclusively. 

> This is particularly confusing when the DataFrame index is a simple numerical list, e.g. `0,...,1000`. In this case `df.iloc[0:1000]` will return 1000 entries, while `df.loc[0:1000]` return 1001 of them!

In [17]:
#loc 을 이용하는데 이때 행에서 :99를 사용해 100개를 선택해줌
df = reviews.loc[:99, ['country', 'variety']]

## 13.

Create a DataFrame `oregon_wines` containing reviews of wines made in `Oregon`. Hint: `reviews.province` equals what?

In [18]:
# reviews.province가 'Oregon'과 일치하는지를 찾아줌
oregon_wines = reviews.loc[reviews.province =='Oregon']
oregon_wines

      country  ...        winery
0          US  ...  Sweet Cheeks
4          US  ...         Erath
13         US  ...         Z'IVO
43         US  ...  Silvan Ridge
44         US  ...         Amity
...       ...  ...           ...
22296      US  ...     Adelsheim
22331      US  ...        DanCin
22335      US  ...  St. Innocent
22348      US  ...     Anam Cara
22352      US  ...      Rex Hill

[3489 rows x 13 columns]

## 14.

Create a DataFrame `top_oregon_newyork_wines` containing all reviews with at least 80 points (out of 100) for wines from Oregon or New York.

Hint: use "isin(...)"

In [19]:
# isin을 사용해 oregon과 new york에서 온 와인들을 선택하고 &를 이용해 그 중 리뷰 포인트가 80이상인 것들을 뽑아내준다.
top_oregon_newyork_wines = reviews.loc[reviews.province.isin(['Oregon', 'New York']) & (reviews.points >= 80),]

In [20]:
top_oregon_newyork_wines

      country  ...        winery
0          US  ...  Sweet Cheeks
4          US  ...         Erath
13         US  ...         Z'IVO
43         US  ...  Silvan Ridge
44         US  ...         Amity
...       ...  ...           ...
22296      US  ...     Adelsheim
22331      US  ...        DanCin
22335      US  ...  St. Innocent
22348      US  ...     Anam Cara
22352      US  ...      Rex Hill

[3642 rows x 13 columns]

## 15.

What is the median of the `points` column in the `reviews` DataFrame?

In [21]:
# median() 함수를 이용
median_points = reviews.points.median()
median_points

90.0

## 16. 
What countries are represented in the dataset? (Your answer should not include any duplicates.)

In [22]:
# unique()함수를 이용
countries = reviews.country.unique()
countries

array(['US'], dtype=object)

## 17.
How often does each taster appear in the dataset? Create a Series `reviews_per_tastername` mapping taster_name to the count of reviews of wines from that taster.

In [23]:
# value_counts()함수를 이용
reviews_per_tastername = reviews.taster_name.value_counts()
reviews_per_tastername

Virginie Boone       6422
Paul Gregutt         5989
Matt Kettmann        4479
Sean P. Sullivan     3357
Jim Gordon           1915
Susan Kostrzewa        97
Joe Czerwinski         69
Michael Schachner      43
Lauren Buzzeo          14
Christina Pickard       1
Roger Voss              1
Name: taster_name, dtype: int64

## 18.
Create variable `centered_price` containing a version of the `price` column with the mean price subtracted using:

1> map() function

2> apply() function

3> None of map() function nor apply() function

(Note: this 'centering' transformation is a common preprocessing step before applying various machine learning algorithms.)

1. map() function

In [24]:
review_price_mean = reviews.price.mean()
centered_price = reviews.price.map(lambda x: x - review_price_mean)
centered_price

0        23.534596
1       -22.465404
2       -19.465404
3        27.534596
4         8.534596
           ...
22382    63.534596
22383    -0.465404
22384   -21.465404
22385    -6.465404
22386    -6.465404
Name: price, Length: 22387, dtype: float64

2. apply() function

In [25]:
centered_price = reviews.price.apply(lambda x : x-review_price_mean)
centered_price

0        23.534596
1       -22.465404
2       -19.465404
3        27.534596
4         8.534596
           ...
22382    63.534596
22383    -0.465404
22384   -21.465404
22385    -6.465404
22386    -6.465404
Name: price, Length: 22387, dtype: float64

3. None of map() function nor apply() function

In [26]:
centered_price = reviews.price - reviews.price.mean()
centered_price

0        23.534596
1       -22.465404
2       -19.465404
3        27.534596
4         8.534596
           ...
22382    63.534596
22383    -0.465404
22384   -21.465404
22385    -6.465404
22386    -6.465404
Name: price, Length: 22387, dtype: float64

## 19.
I'm an economical wine buyer. Which wine is the "best bargain"? Create a variable `bargain_wine` with the title of the wine with the highest points-to-price ratio in the dataset.

In [27]:
# idxmax()함수를 이용해 최대값을 가지는 인덱스 레이블을 출력
points_to_price_ratio = (reviews.points / reviews.price).idxmax()
bargain_wine = reviews.loc[points_to_price_ratio, "title"]
bargain_wine

"Pam's Cuties NV Unoaked Chardonnay (California)"

## 20.
There are only so many words you can use when describing a bottle of wine. Is a wine more likely to be "tropical" or "fruity"? Create a Series `descriptor_counts` counting how many times each of these two words appears in the `description` column in the dataset.

In [28]:
# map함수를 이용해 description열에서 두 단어를 포함하는 수를 sum해준뒤 결과를 하나의 series로 만들어줌
n_trop = reviews.description.map(lambda desc: "tropical" in desc).sum()
n_fruity = reviews.description.map(lambda desc: "fruity" in desc).sum()
descriptor_counts = pd.Series([n_trop, n_fruity], index=['tropical', 'fruity'])
descriptor_counts

tropical    452
fruity      761
dtype: int64

## 21.
We'd like to host these wine reviews on our website, but a rating system ranging from 80 to 100 points is too hard to understand - we'd like to translate them into simple star ratings. A score of 95 or higher counts as 3 stars, a score of at least 85 but less than 95 is 2 stars. Any other score is 1 star.

Also, the New York Vintners Association bought a lot of ads on the site, so any wines from New York should automatically get 3 stars, regardless of points.

Create a series `star_ratings` with the number of stars corresponding to each review in the dataset.

In [29]:
# 별점을 매기는 함수를 작성
def star_ratings(row):
    if(row["province"]=="New York"):
        return 3
    if(row["points"]>=95):
        return 3
    elif(row["points"]>=85):
        return 2
    else:
        return 1

In [30]:
# apply를 이용해 위에서 작성한 star_ratings 함수를 적용
star_ratings =  reviews.apply(star_ratings,axis='columns')
print(star_ratings)

0        2
1        2
2        2
3        2
4        2
        ..
22382    2
22383    2
22384    2
22385    2
22386    2
Length: 22387, dtype: int64

In [31]:
type(star_ratings)

pandas.core.series.Series

**This notebook is an exercise in the [Pandas](https://www.kaggle.com/learn/pandas) course.  You can reference the tutorial at [this link](https://www.kaggle.com/residentmario/grouping-and-sorting).**

---

In [32]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [33]:
import os
path = "/content/drive/MyDrive/Class/2021/2021_2/programming/Actual_Class/Group4/"
os.chdir(path)

In [34]:
print("Current Working Directory " , os.getcwd())

Current Working Directory  /content/drive/MyDrive/Class/2021/2021_2/programming/Actual_Class/Group4

# Introduction

In these exercises we'll apply groupwise analysis to our dataset.

Run the code cell below to load the data before running the exercises.

In [35]:
import pandas as pd

reviews = pd.read_csv("winemag-data-130k-v2.csv", index_col=0)
#pd.set_option("display.max_rows", 5)

## 22.
Who are the most common wine reviewers in the dataset? Create a `Series` whose index is the `taster_twitter_handle` category from the dataset, and whose values count how many reviews each person wrote.

In [36]:
# taster_twitter_handle로 group지어준 뒤에 count()함수를 이용
reviews_written = reviews.groupby('taster_twitter_handle').taster_twitter_handle.count()
reviews_written

taster_twitter_handle
@AnneInVino          3685
@JoeCz               5147
@bkfiona               27
@gordone_cellars     4177
@kerinokeefe        10776
@laurbuzz            1835
@mattkettmann        6332
@paulgwine           9532
@suskostrzewa        1085
@vboone              9537
@vossroger          25514
@wawinereport        4966
@wineschach         15134
@winewchristina         6
@worldwineguys       1005
Name: taster_twitter_handle, dtype: int64

## 23.
What is the best wine I can buy for a given amount of money? Create a `Series` whose index is wine prices and whose values is the maximum number of points a wine costing that much was given in a review. Sort the values by price, ascending (so that `4.0` dollars is at the top and `3300.0` dollars is at the bottom).

In [37]:
best_rating_per_price = reviews.groupby('price').points.max()
best_rating_per_price

price
4.0       86
5.0       87
6.0       88
7.0       91
8.0       91
          ..
1900.0    98
2000.0    97
2013.0    91
2500.0    96
3300.0    88
Name: points, Length: 390, dtype: int64

## 24.
What are the minimum and maximum prices for each `variety` of wine? Create a `DataFrame` whose index is the `variety` category from the dataset and whose values are the `min` and `max` values thereof.

In [38]:
# agg 함수를 이용해서 여러개의 함수를 여러 열에 적용
price_extremes = reviews.groupby('variety').price.agg([min, max])
price_extremes

              min    max
variety
Abouriou     15.0   75.0
Agiorgitiko  10.0   66.0
Aglianico     6.0  180.0
Aidani       27.0   27.0
Airen         8.0   10.0
...           ...    ...
Zinfandel     5.0  100.0
Zlahtina     13.0   16.0
Zweigelt      9.0   70.0
Çalkarası    19.0   19.0
Žilavka      15.0   15.0

[707 rows x 2 columns]

## 25.
What are the most expensive wine varieties? Create a variable `sorted_varieties` containing a copy of the dataframe from the previous question where varieties are sorted in descending order based on minimum price, then on maximum price (to break ties).

In [39]:
sorted_varieties = price_extremes.sort_values(by=['min', 'max'], ascending = False)

In [40]:
sorted_varieties

                                  min    max
variety
Ramisco                         495.0  495.0
Terrantez                       236.0  236.0
Francisa                        160.0  160.0
Rosenmuskateller                150.0  150.0
Tinta Negra Mole                112.0  112.0
...                               ...    ...
Roscetto                          NaN    NaN
Sauvignon Blanc-Sauvignon Gris    NaN    NaN
Tempranillo-Malbec                NaN    NaN
Vital                             NaN    NaN
Zelen                             NaN    NaN

[707 rows x 2 columns]

## 26.
Create a `Series` whose index is reviewers and whose values is the average review score given out by that reviewer. Hint: you will need the `taster_name` and `points` columns.

In [41]:
reviewer_mean_ratings = reviews.groupby('taster_name').points.mean()
reviewer_mean_ratings

taster_name
Alexander Peartree    85.855422
Anna Lee C. Iijima    88.415629
Anne Krebiehl MW      90.562551
Carrie Dykes          86.395683
Christina Pickard     87.833333
Fiona Adams           86.888889
Jeff Jenssen          88.319756
Jim Gordon            88.626287
Joe Czerwinski        88.536235
Kerin O’Keefe         88.867947
Lauren Buzzeo         87.739510
Matt Kettmann         90.008686
Michael Schachner     86.907493
Mike DeSimone         89.101167
Paul Gregutt          89.082564
Roger Voss            88.708003
Sean P. Sullivan      88.755739
Susan Kostrzewa       86.609217
Virginie Boone        89.213379
Name: points, dtype: float64

Are there significant differences in the average scores assigned by the various reviewers? Run the cell below to use the `describe()` method to see a summary of the range of values.

In [42]:
reviewer_mean_ratings.describe()

count    19.000000
mean     88.233026
std       1.243610
min      85.855422
25%      87.323501
50%      88.536235
75%      88.975256
max      90.562551
Name: points, dtype: float64

## 27.
What combination of countries and varieties are most common? Create a `Series` whose index is a `MultiIndex`of `{country, variety}` pairs. For example, a pinot noir produced in the US should map to `{"US", "Pinot Noir"}`. Sort the values in the `Series` in descending order based on wine count.

In [43]:
country_variety_counts = reviews.groupby(['country', 'variety']).variety.count().sort_values(ascending = False)

In [44]:
country_variety_counts

country    variety
US         Pinot Noir                  9885
           Cabernet Sauvignon          7315
           Chardonnay                  6801
France     Bordeaux-style Red Blend    4725
Italy      Red Blend                   3624
                                       ...
Uruguay    Tempranillo-Tannat             1
Italy      Pignolo                        1
           Muscat                         1
           Moscato di Noto                1
Argentina  Barbera                        1
Name: variety, Length: 1612, dtype: int64

## 28. 
What is the data type of the `points` column in the dataset?

In [45]:
reviews.points.dtype

dtype('int64')

## 29. 
Create a Series from entries in the `points` column, but convert the entries to strings. Hint: strings are `str` in native Python.

In [46]:
reviews.points.astype(str)

0         87
1         87
2         87
3         87
4         87
          ..
129966    90
129967    90
129968    90
129969    90
129970    90
Name: points, Length: 129971, dtype: object

## 30.
Sometimes the price column is null. How many reviews in the dataset are missing a price?

In [47]:
# isnull() 메소드는 관측치가 결측이면 True, 결측이 아니면 False의 boollean 값을 반환

missing_price_reviews = reviews[reviews.price.isnull()]
n_missing_prices = len(missing_price_reviews)
n_missing_prices

8996

## 31.
What are the most common wine-producing regions? Create a Series counting the number of times each value occurs in the `region_1` field. This field is often missing data, so replace missing values with `Unknown`. Sort in descending order.  Your output should look something like this:

```
Unknown                    21247
Napa Valley                 4480
                           ...  
Bardolino Superiore            1
Primitivo del Tarantino        1
Name: region_1, Length: 1230, dtype: int64
```

In [48]:
reviews_per_region = reviews.region_1.fillna('Unknown').value_counts().sort_values(ascending=False)

In [49]:
reviews_per_region

Unknown                                  21247
Napa Valley                               4480
Columbia Valley (WA)                      4124
Russian River Valley                      3091
California                                2629
                                         ...
Paestum                                      1
Côtes du Roussillon Villages Caramany        1
Strevi                                       1
Saussignac                                   1
Catalanesca del Monte Somma                  1
Name: region_1, Length: 1230, dtype: int64

## 32.
`region_1` and `region_2` are pretty uninformative names for locale columns in the dataset. Create a copy of `reviews` with these columns renamed to `region` and `locale`, respectively.

In [50]:
# rename을 이용해 column명을 변경
renamed = reviews.rename(columns=dict(region_1='region', region_2='locale'))
renamed

         country  ...                                    winery
0          Italy  ...                                   Nicosia
1       Portugal  ...                       Quinta dos Avidagos
2             US  ...                                 Rainstorm
3             US  ...                                St. Julian
4             US  ...                              Sweet Cheeks
...          ...  ...                                       ...
129966   Germany  ...  Dr. H. Thanisch (Erben Müller-Burggraef)
129967        US  ...                                  Citation
129968    France  ...                           Domaine Gresser
129969    France  ...                      Domaine Marcel Deiss
129970    France  ...                          Domaine Schoffit

[129971 rows x 13 columns]

## 33.
Set the index name in the dataset to `wines`.

In [51]:
# rename_axis는 멀티인덱스의 이름을 변경할 수 있게 함
reindexed = reviews.rename_axis('wines', axis='rows')
reindexed

         country  ...                                    winery
wines             ...
0          Italy  ...                                   Nicosia
1       Portugal  ...                       Quinta dos Avidagos
2             US  ...                                 Rainstorm
3             US  ...                                St. Julian
4             US  ...                              Sweet Cheeks
...          ...  ...                                       ...
129966   Germany  ...  Dr. H. Thanisch (Erben Müller-Burggraef)
129967        US  ...                                  Citation
129968    France  ...                           Domaine Gresser
129969    France  ...                      Domaine Marcel Deiss
129970    France  ...                          Domaine Schoffit

[129971 rows x 13 columns]

## 34~36

You have the following information on customer.

In [52]:
import pandas as pd

cust = {"customer_id":[101,102,103,104,105], "name":["Kim", "Tong", "Wang", "Oh", "Lee"], "Gender":["F", "F", "F", "M", "M"]}
customer = pd.DataFrame(cust)
customer

   customer_id  name Gender
0          101   Kim      F
1          102  Tong      F
2          103  Wang      F
3          104    Oh      M
4          105   Lee      M

You also have the following information on the accident:

In [53]:
acci = {"accident_id":[1,2,3,4,5,6,7,8,9,10], "loss_amount":[345, 210, 230, 102, 441, 981, 104, 85, 102, 76], "year":[2015, 2016, 2017, 2018, 2019, 2020, 2019, 2018, 2017, 2016], "customer_id":[101, 103, 104, 102, 105, 107, 108, 101, 103, 110]}
accident = pd.DataFrame(acci)
accident

   accident_id  loss_amount  year  customer_id
0            1          345  2015          101
1            2          210  2016          103
2            3          230  2017          104
3            4          102  2018          102
4            5          441  2019          105
5            6          981  2020          107
6            7          104  2019          108
7            8           85  2018          101
8            9          102  2017          103
9           10           76  2016          110

Answer the following questions.

## 34. Make a pandas table which include all the information on customer (101~105) and corresponding accidents.

In [54]:
# 101~105 customer의 정보를 merge를 이용해 합쳐줌. 이때 합치는 기준은 customer_id
table = pd.merge(customer,accident, how='left',on = ['customer_id'])
table

   customer_id  name Gender  accident_id  loss_amount  year
0          101   Kim      F            1          345  2015
1          101   Kim      F            8           85  2018
2          102  Tong      F            4          102  2018
3          103  Wang      F            2          210  2016
4          103  Wang      F            9          102  2017
5          104    Oh      M            3          230  2017
6          105   Lee      M            5          441  2019

## 35. Calculate the total loss for each customer (101~105).

In [55]:
total_loss = table['loss_amount'].groupby(table['customer_id']).sum()

In [56]:
total_loss

customer_id
101    430
102    102
103    312
104    230
105    441
Name: loss_amount, dtype: int64

## 36. Calculate the total loss for Female (Gender="F") and Male (Gender="M"), respectively.

In [57]:
total_loss_gender = table['loss_amount'].groupby(table['Gender']).sum()

In [58]:
total_loss_gender

Gender
F    844
M    671
Name: loss_amount, dtype: int64